:root {
  font-family: 'Inter', sans-serif;
  background-color: oklch(10% 0 0);
  color: white;
  --base-size: min(3rem, 3.2vw);
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.main-clock {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center;
  align-items: center;
  gap: calc(var(--base-size) * 0.8);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.time-group {
  display: flex;
  gap: calc(var(--base-size) * 0.2);
}

.digit {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: calc(var(--base-size) / 24);
}

.clock {
  height: var(--base-size);
  width: var(--base-size);
  background: oklch(20% 0 0);
  border: calc(var(--base-size) / 12) solid oklch(30% 0 0);
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}

.hand {
  height: calc(var(--base-size) / 16);
  width: 50%;
  background: oklch(0.9475 0.1916 119.15);
  border-radius: calc(var(--base-size) / 16);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 0% -50%;
  transform-origin: center left;
  transition: rotate 400ms cubic-bezier(.4, 0, .2, 1), opacity 400ms ease-out;
  opacity: 1;
}

.hand.inactive {
  opacity: 0.2;
}