:root {
  font-family: 'Inter', sans-serif;
  background-color: oklch(10% 0 0);
  color: white;
}

body {
  margin: 0;
  display: grid; 
  place-content: center;
  min-height: 100vh;
}

/* Container for HH:MM:SS */
.main-clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.time-group {
  display: flex;
  gap: 0.5rem;
}

.digit {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 0.125rem;
}

.clock {
  height: 3rem;
  width: 3rem;
  background: oklch(20% 0 0);
  border: 0.25rem solid oklch(30% 0 0);
  border-radius: 50%;
  position: relative;
}

.hand {
  height: 0.1875rem;
  width: 50%;
  background: oklch(96.478% 0.18029 108.353);
  border-radius: 0.1875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 0% -50%;
  transform-origin: center left;
  transition: rotate 400ms cubic-bezier(.4, 0, .2, 1), opacity 400ms ease-out;
  opacity: 1;
}

.hand.inactive {
  opacity: 0.2;
}